body,html{
  margin: 0;
  padding: 0;
}
$background: #24242e;
body {
  display: flex;
  flex-direction: column;
  background:$background;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

@font-face {
  font-family: 'WildCreatures';
  src:url('/assets/fonts/WildCreaturesSample.ttf')  format('truetype');
}
@font-face {
font-family: 'Bebas Neue';
font-style: normal;
font-weight: normal;
src: local('Bebas Neue'), url('assets/fonts/BebasNeue.woff') format('woff');
}


/* COMMON LAYOUT*/
.flex-start{
  align-self: flex-start;
}
.flex-end{
  align-self: flex-end;
}
.flex-just-start{
  justify-content: flex-start;
}
.flex-just-end{
  justify-content: flex-end;
}
/* APP-BAR LAYOUT*/
$app-bar-background: #594786;
.app-bar{
  width: 100%;
  height: 72px;
  background: $app-bar-background;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  @media (max-height: 768px){
    height: 56px;
  }
  @media (max-height: 568px){
    height: 8vh;
  }
}

.svg-logo{
  height: 49px;
  margin: auto;
  @media (max-height: 768px){
    height: 25px;
  }
}

/* CONTAINER LAYOUT*/
.container{
  height:calc(100% - 152px);
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 72px;
  bottom: 80px;
  @media (max-height: 768px){
    top: 56px;
    height:calc(100% - 136px);
  }
  @media (max-height: 768px){
    top: 8vh;
    bottom: 10vh;
    height:calc(100% - 18vh);
  }
}

/* FOOTER-BAR LAYOUT*/
.footer-bar{
  width: 100%;
  height: 80px;
  background: #49495a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  bottom: 0;
  @media (max-height: 568px){
    height:10vh;
  }
}
.footer-item{
  height: inherit;
  width: 80px;
  display: flex;
  @media (max-height: 568px){
    width:10vh;
  }
}
.footer-item > a{
  display: flex;
  width: 100%;
  text-align: center;
}
.footer-item > a.selected{
  border-bottom: solid 5px orange;
}

.footer-item > a > i{
  margin:auto;
  font-size: 36px;
  color: white;
  text-align: justify;
  @media (max-height: 568px){
    font-size: 24px;
  }
}
