/* MACHINE-TITLE LAYOUT*/
.machine-title{
  margin-top: 16px;
  height: 72px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  min-height: 48px;
  @media (max-height: 768px){
    height: 48px;
  }
}
.machine-title > span {
  margin: auto 0;
  margin-right: 16px;
  color: white;
  font-family: 'WildCreatures';
  font-size: 1.7rem;
}

/* CONFIG LAYOUT*/
$container-background: #24242e;
.config-holder{
  width: 75%;
  color: $container-background;
  height: 56px;
  display: flex;
  min-height: 35px;
  margin-top:8px;
  margin-bottom:8px;
  @media (max-height: 768px){
    height: 35px;
  }
}
.config-holder.flex-start{
  flex-direction: row;
}
.config-holder.flex-end{
  flex-direction: row-reverse;
}
.config-holder.flex-start>span{
  text-align: left;
}
.config-holder.flex-end>span{
  text-align: right;
}
.config-holder > span{
  margin: auto 0;
  font-family: 'Roboto';
  font-size:calc( 0px + (16 * 1024px ) / 1024);
  margin-right:3px;
  margin-left:3px;
  width: 100%;
  @media (max-width: 1024px){
    font-size:calc( 0px + (16 * 100vw ) / 1024);
  }
  @media (max-width: 800px){
    font-size:calc( 0px + (24 * 100vw ) / 1024);
  }
  @media (max-width: 700px){
    font-size:calc( 0px + (36 * 100vw ) / 1024);
  }
}
.config-holder > i{
  margin: auto 0;
  font-size:calc( 0px + (30 * 1024px ) / 1024);
  vertical-align: middle;
  line-height: 17px;
  margin-left: 8px;
  margin-right: 8px;
  @media (max-width: 1024px){
    font-size:calc( 0px + (30 * 100vw ) / 1024);
  }
  @media (max-width: 800px){
    font-size:calc( 0px + (35 * 100vw ) / 1024);
  }
  @media (max-width: 700px){
    font-size:calc( 0px + (50 * 100vw ) / 1024);
  }
}

  /* CONFIG COLORS*/
  .cpu{
    background:#37ff98;
  }
  .gpu{
    background:#ff3977;
  }
  .motherboard{
    background: #2cc6de;
  }
  .hd{
    background: #f9bf42;
  }
  .ram{
    background: #f2414b;
  }
  .cooler{
    background: #bab4ce;
  }
  .power{
    background: #e7ffaa;
  }
  .case{
    background: #d95a23;
  }
  .ssd{
    background: #23d9b5;
  }
