@import url('https://fonts.googleapis.com/css?family=Roboto:300,100');
@import  "lib/colors";
body,html{
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background:$background;
}
a{
  text-decoration: none;
}
@font-face {
  font-family: 'WildCreatures';
  src:url('/assets/fonts/WildCreaturesSample.ttf')  format('truetype');
}
@font-face {
font-family: 'Bebas Neue';
font-style: normal;
font-weight: normal;
src: local('Bebas Neue'), url('assets/fonts/BebasNeue.woff') format('woff');
}

/* COMMON LAYOUT*/
.flex-start{
  align-self: flex-start;
}
.flex-end{
  align-self: flex-end;
}
.flex-just-start{
  justify-content: flex-start;
}
.flex-just-end{
  justify-content: flex-end;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
/* APP-BAR LAYOUT*/
.app-bar{
  width: 100%;
  height: 72px;
  background: $app-bar;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  @media (max-height: 768px){
    height: 56px;
  }
  @media (max-height: 568px){
    height: 8vh;
  }
}

.svg-logo{
  height: 64px;
  margin: auto;
  @media (max-height: 768px){
    height: 40px;
  }
}

/* CONTAINER LAYOUT*/
.container{
  animation-duration: 0.25s !important;

  height:calc(100% - 136px);
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 72px;
  bottom: 80px;
  @media (max-height: 768px){
    top: 56px;
    height:calc(100% - 136px);
    bottom: 80px;
  }
  @media (max-height: 568px){
    top: 8vh;
    height:calc(100% - 18vh);
    bottom: 10vh;
  }

}

/* FOOTER-BAR LAYOUT*/
.footer-nav-bar{
  width: 100%;
  height: 80px;
  background: #49495a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  bottom: 0;
  @media (max-height: 568px){
    height:10vh;
  }
}
.footer-nav-item{
  height: inherit;
  width: 80px;
  display: flex;
  @media (max-height: 568px){
    width:10vh;
  }
}
.footer-nav-item > a{
  display: flex;
  width: 100%;
  text-align: center;
}
.footer-nav-item > a.selected{
  border-bottom: solid 5px orange;
}
.footer-nav-item > a:active{
  opacity: 0.7;
}

.footer-nav-item > a > i{
  margin:auto;
  font-size: 36px;
  color: white;
  text-align: justify;
  @media (max-height: 568px){
    font-size: 24px;
  }
}
