<template name="home">
  <div class="container" style="opacity:0">
    <div class="machine-title">
      <span>galaxy</span>
    </div>
    <div class="config-container">
      <div class="config-holder cpu flex-end flex-just-end">
        <span>Intel Core I7 7700K 4.20 Ghz</span><i class="pc-i-cpu"></i>
      </div>
      <div class="config-holder gpu flex-start flex-just-start">
        <span>NVIDIA Geforce GTX 1070</span><i class="pc-i-gpu"></i>
      </div>
      <div class="config-holder motherboard flex-end flex-just-end">
        <span>Z170 Gaming</span><i class="pc-i-motherboard"></i>
      </div>
      <div class="config-holder hd flex-start flex-just-start">
        <span>Seagate 1TB </span><i class="pc-i-hd"></i>
      </div>
      <div class="config-holder ram flex-end flex-just-end">
        <span>16GB 2100Mhz</span><i class="pc-i-ram"></i>
      </div>
      <div class="config-holder cooler flex-start flex-just-start">
        <span>Watercooler Corsair H110M </span><i class="pc-i-cooler"></i>
      </div>
      <div class="config-holder power flex-end flex-just-end">
        <span>500W 80PLUS Bronze</span><i class="pc-i-power"></i>
      </div>
      <div class="config-holder case flex-start flex-just-start">
        <span>RAIDMAX Alpha Prime White</span><i class="pc-i-case"></i>
      </div>
    </div>
    <div class="actions-menu-holder">
      <div class="title-holder">
        <span class="title">AÇÕES</span>
      </div>
      <div class="actions-holder">
        <div class="action action-power-on">
          <div class="action-content">
            <i class="fa fa-power-off" aria-hidden="true"></i>
            <div class="action-title">
              <span>LIGAR</span>
              <span><b>COMPUTADOR</b></span>
            </div>
          </div>
        </div>

        <div class="action action-change-color">
          <div class="action-content">
            <i class="fa fa-paint-brush" aria-hidden="true"></i>
            <div class="action-title">
              <span>ALTERAR</span>
              <span><b>COR</b></span>
            </div>
          </div>
        </div>

        <div class="action action-change-effect">
          <div class="action-content">
            <i class="fa fa-magic" aria-hidden="true"></i>
            <div class="action-title">
              <span>ALTERAR</span>
              <span><b>EFEITO</b></span>
            </div>
          </div>
        </div>

        <div class="action action-macro">
          <div class="action-content">
            <i class="fa fa-star" aria-hidden="true"></i>
            <div class="action-title">
              <span>EXECUTAR</span>
              <span><b>AÇÃO</b></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
