<template name="infos">
  <div class="container" style="opacity:0">
    <div class="cooler-info-holder">
      <div class="cooler-info">
        <div class="cooler-1" id="cooler">
          <div class="cooler-icon-holder">
            <i class="pc-i-cooler"></i>
          </div>
          <div class="range-slider-and-description-holder">
            <div class="range-slider-holder">
              <div class="range-slider">
                <input type="range" value="0" class="cooler-input"/>
              </div>
            </div>
            <div class="range-slider-description-divider-holder">
              <div class="range-slider-description-divider text-left">
                <span>|</span>
              </div>
              <div class="range-slider-description-divider">

              </div>
              <div class="range-slider-description-divider text-center">
                <span>|</span>
              </div>
              <div class="range-slider-description-divider">

              </div>
              <div class="range-slider-description-divider text-right">
                <span>|</span>
              </div>
            </div>
            <div class="range-slider-description-holder">
              <div class="range-slider-description text-left">
                <span>0</span>
              </div>
              <div class="range-slider-description">

              </div>
              <div class="range-slider-description text-center">
                <span>50</span>
              </div>
              <div class="range-slider-description">

              </div>
              <div class="range-slider-description text-right">
                <span>100</span>
              </div>
            </div>
          </div>
        </div>
        <div class="cooler-2" id="cooler">
          <div class="cooler-icon-holder">
            <i class="pc-i-cooler"></i>
          </div>
          <div class="range-slider-and-description-holder">
            <div class="range-slider-holder">
              <div class="range-slider">
                <input type="range" value="0" class="cooler-input"/>
              </div>
            </div>
            <div class="range-slider-description-divider-holder">
              <div class="range-slider-description-divider text-left">
                <span>|</span>
              </div>
              <div class="range-slider-description-divider">

              </div>
              <div class="range-slider-description-divider text-center">
                <span>|</span>
              </div>
              <div class="range-slider-description-divider">

              </div>
              <div class="range-slider-description-divider text-right">
                <span>|</span>
              </div>
            </div>
            <div class="range-slider-description-holder">
              <div class="range-slider-description text-left">
                <span>0</span>
              </div>
              <div class="range-slider-description">

              </div>
              <div class="range-slider-description text-center">
                <span>50</span>
              </div>
              <div class="range-slider-description">

              </div>
              <div class="range-slider-description text-right">
                <span>100</span>
              </div>
            </div>
          </div>
        </div>
        <div class="cooler-3" id="cooler">
          <div class="cooler-icon-holder">
            <i class="pc-i-cooler"></i>
          </div>
          <div class="range-slider-and-description-holder">
            <div class="range-slider-holder">
              <div class="range-slider">
                <input type="range" value="0" class="cooler-input"/>
              </div>
            </div>
            <div class="range-slider-description-divider-holder">
              <div class="range-slider-description-divider text-left">
                <span>|</span>
              </div>
              <div class="range-slider-description-divider">

              </div>
              <div class="range-slider-description-divider text-center">
                <span>|</span>
              </div>
              <div class="range-slider-description-divider">

              </div>
              <div class="range-slider-description-divider text-right">
                <span>|</span>
              </div>
            </div>
            <div class="range-slider-description-holder">
              <div class="range-slider-description text-left">
                <span>0</span>
              </div>
              <div class="range-slider-description">

              </div>
              <div class="range-slider-description text-center">
                <span>50</span>
              </div>
              <div class="range-slider-description">

              </div>
              <div class="range-slider-description text-right">
                <span>100</span>
              </div>
            </div>
          </div>
        </div>
        <div class="cooler-4" id="cooler">
          <div class="cooler-icon-holder">
            <i class="pc-i-cooler"></i>
          </div>
          <div class="range-slider-and-description-holder">
            <div class="range-slider-holder">
              <div class="range-slider">
                <input type="range" value="0" class="cooler-input"/>
              </div>
            </div>
            <div class="range-slider-description-divider-holder">
              <div class="range-slider-description-divider text-left">
                <span>|</span>
              </div>
              <div class="range-slider-description-divider">

              </div>
              <div class="range-slider-description-divider text-center">
                <span>|</span>
              </div>
              <div class="range-slider-description-divider">

              </div>
              <div class="range-slider-description-divider text-right">
                <span>|</span>
              </div>
            </div>
            <div class="range-slider-description-holder">
              <div class="range-slider-description text-left">
                <span>0</span>
              </div>
              <div class="range-slider-description">

              </div>
              <div class="range-slider-description text-center">
                <span>50</span>
              </div>
              <div class="range-slider-description">

              </div>
              <div class="range-slider-description text-right">
                <span>100</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="default-holder">
      <div class="title-holder temperature-title">
        <span class="title">TEMPERATURA</span>
      </div>
      <div class="temperatures-holder">
        <div class="temperature">
          <div class="temperature-icon cpu">
            <i class="pc-i-cpu"></i>
          </div>
          <div class="temperature-progress-holder cpu">
            <div class="progress">
              <div></div>
            </div>
          </div>
        </div>
        <div class="temperature">
          <div class="temperature-icon gpu">
            <i class="pc-i-gpu"></i>
          </div>
          <div class="temperature-progress-holder gpu">
            <div class="progress">
              <div></div>
            </div>
          </div>
        </div>
        <div class="temperature">
          <div class="temperature-icon motherboard">
            <i class="pc-i-motherboard"></i>
          </div>
          <div class="temperature-progress-holder motherboard">
            <div class="progress">
              <div></div>
            </div>
          </div>
        </div>
        <div class="temperature-chart-holder">
          <div class="temperature-chart">
            <canvas id="chart-temperature"></canvas>
          </div>
      </div>
      </div>
    </div>
    <div class="default-holder">
      <div class="title-holder">
        <span class="title">PORCENTAGEM DE USO</span>
      </div>
      <div class="percentages-holder">
        <div class="percentage-holder cpu-color">
          <div class="circle-bar">

          </div>
          <div>
            <div>
              <i class="pc-i-cpu"></i>
              <span>43<span></span></span>
            </div>
          </div>
        </div>
        <div class="percentage-holder gpu-color">
          <div class="circle-bar">
          </div>
          <div>
            <div>
              <i class="pc-i-gpu"></i>
              <span>65<span></span></span>
            </div>
          </div>
        </div>
        <div class="percentage-holder ram-color">
          <div class="circle-bar">
          </div>
          <div>
            <div>
              <i class="pc-i-ram"></i>
              <span>30<span></span></span>
            </div>
          </div>
        </div>
        <div class="percentage-holder hd-color">
          <div class="circle-bar">
          </div>
          <div>
            <div>
              <i class="pc-i-hd"></i>
              <span>12<span></span></span>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</template>
