<template name="infos">
  <div class="container">

    <div class="cooler-info">

    </div>

    <div class="default-holder">
      <div class="title-holder temperature-title">
        <span class="title">TEMPERATURA</span>
      </div>
      <div class="temperatures-holder">

        <div class="temperature">
          <div class="temperature-icon cpu">
            <i class="pc-i-cpu"></i>
          </div>
          <div class="temperature-progress-holder cpu">
            <div class="progress">
              <div></div>
            </div>
          </div>
        </div>
        <div class="temperature">
          <div class="temperature-icon gpu">
            <i class="pc-i-gpu"></i>
          </div>
          <div class="temperature-progress-holder gpu">
            <div class="progress">
              <div></div>
            </div>
          </div>
        </div>
        <div class="temperature">
          <div class="temperature-icon motherboard">
            <i class="pc-i-motherboard"></i>
          </div>
          <div class="temperature-progress-holder motherboard">
            <div class="progress">
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="default-holder">
      <div class="title-holder">
        <span class="title">PORCENTAGEM DE USO</span>
      </div>
    </div>


  </div>
</template>
