<template name="infos">
  <div class="container">

    <div class="cooler-info">
    </div>

    <div class="default-holder">
      <div class="title-holder temperature-title">
        <span class="title">TEMPERATURA</span>
      </div>
      <div class="temperatures-holder">
        <div class="temperature">
          <div class="temperature-icon cpu">
            <i class="pc-i-cpu"></i>
          </div>
          <div class="temperature-progress-holder cpu">
            <div class="progress">
              <div></div>
            </div>
          </div>
        </div>
        <div class="temperature">
          <div class="temperature-icon gpu">
            <i class="pc-i-gpu"></i>
          </div>
          <div class="temperature-progress-holder gpu">
            <div class="progress">
              <div></div>
            </div>
          </div>
        </div>
        <div class="temperature">
          <div class="temperature-icon motherboard">
            <i class="pc-i-motherboard"></i>
          </div>
          <div class="temperature-progress-holder motherboard">
            <div class="progress">
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="default-holder">
      <div class="title-holder">
        <span class="title">PORCENTAGEM DE USO</span>
      </div>
      <div class="percentages-holder">
        <div class="percentage-holder cpu-color">
          <div class="circle-bar">
          </div>
          <div>
            <div>
              <i class="pc-i-cpu"></i>
              <span>43<span>%</span></span>
            </div>
          </div>
        </div>
        <div class="percentage-holder gpu-color">
          <div class="circle-bar">
          </div>
          <div>
            <div>
              <i class="pc-i-gpu"></i>
              <span>65<span>%</span></span>
            </div>
          </div>
        </div>
        <div class="percentage-holder ram-color">
          <div class="circle-bar">
          </div>
          <div>
            <div>
              <i class="pc-i-ram"></i>
              <span>30<span>%</span></span>
            </div>
          </div>
        </div>
        <div class="percentage-holder hd-color">
          <div class="circle-bar">
          </div>
          <div>
            <div>
              <i class="pc-i-hd"></i>
              <span>12<span>%</span></span>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</template>
